<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <style type="text/css">
    body { margin: 0; }
    .box { border: 4px solid #FFFFFF; border-radius: 3px; color: white; font-size: 100px; width: 800px; height: 200px; font-family: 'Roboto', sans-serif; background-color: #8BC6EC; background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); }
    #pfp { position: absolute; top: 4px; left: 4px; height: 200px; width: 200px }
    h4 { position: absolute; margin: 0; top: 30px; left: 290px; font-size: 55pt; font-weight: 700; }
    p { position: absolute; margin: 0; top: 120px; left: 315px; font-size: 32pt; }
    h4 + img { width: 55pt; position: absolute; top: 30px; left: 650px; }
    </style>
</head>
<body>
    <div class="box">
        <img src="<%= avatarURL %>" id="pfp" />
        <h4>Congrats !</h4>
        <img src="https://cdn.iwa.sh/img/party-popper.png">
        <p>You're now level <%= level %> !</p>
    </div>
</body>
</html>